<option value="v">open</option>
<option  value="0" selected >rest</option>
<option value="11-19">morning 11-19</option>
<option value="19cl">closing 19-03</option>
<option value="e">preshere</option>