
@{
    ViewBag.Title = "CandidatePage";
}

<div>
    <h2>CandidatePage</h2>


            <input class="btn btn-link" type="button" value="Register" onclick="location.href='@Url.Action("Register", "Candidate")'" />
            <input class="btn btn-link" type="button" value="Stastus" onclick="location.href='@Url.Action("ChackStatus", "Candidate")'" />


</div>

